@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
      *{
        font-family: "Varela Round";
      }
        body {
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h2{
          font-weight: normal;
          margin: 50px 0 0 50px;
		text-decoration: none;
        }
        h2 a{
			text-decoration: none;
			color: black;
		}

        form {
            background-color: #fff;
            padding: 20px 40px 20px 40px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 360px;
            height: 450px;
            margin: 70px auto 0 auto;
        }

        h1{
          font-weight: normal;
          text-align: center;
        }

        .formulaire_flex{
            display: flex;
            justify-content: space-around;
        }

        label {
            display: inline-block;
            margin-bottom: 8px;
            width: 130px;
        }

        input {
            width: 200px;
            padding: 8px;
            margin-bottom: 16px;
        }

        input[type=submit] {
            display: inline-block;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 150px;
            height: 40px;
        }        

        #inscription:hover {
          color: #1D90F0;
          background: transparent;        
        }

        #connexion:hover{
          color: green;
          background: transparent;
        }

        #connexion{
          background-color: green;
          border: 1px solid green;
          height: 50px;
        }

        #inscription{
          display: inline-block;
          text-align: center;
          color: #fff;
          background-color: #1D90F0;
          border: 1px solid #1D90F0;
          width: 350px;
          height: 35px;
          margin: auto;
          text-decoration: none;
          padding: 15px 0 0 0;
        }

        .conec_flex{
          display: flex;
        }

        #label_souvenir{
          width: 200px;
        }

        .souvenir_oublié{
          text-align: center;
          margin: 0 0 0 40px;
        }

        .souvenir{
          display: flex;
          text-align: center;
        }

        input[type=checkbox]{
          width: 20px;
        }@charset "UTF-8";
        
        
        
        #erreur {
			display: none;
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: red;
            color: #fff;
            padding: 10px;
        }
        
        
        
        
        
        
        